name: github-action-file
on: push
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: step1
        uses: actions/checkout@v4
      - name: list files
        run:  ls
      - name: run shell script 
        run:  chmod +x script.sh && ./script.sh
