name: solar-system
on: 
  workflow_dispatch: 
  push:
    branches: 
    - main
    - 'feature/*'

jobs:
    unit-testing:
      name: Unit Testing
      runs-on: ubuntu-latest
      steps:
      - name: Check Repository
        uses: actions/checkout@v4
      - name: Setup NodeJS Version - 18 
        uses: actions/setup-node@v3
        with: 
            node-version: 18 
      - name: Install Dependencies
        run: npm install 
      - name: Test applicaiton
        run: npm test 

  