name: github-action-file
on: push
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: step1
        uses: actions/checkout@v4
      - name: step2
        run: echo "my second job step2"
      - name: list files
        run: ls 
      - name: read file
        run: cat README.md
